In [1]:
import numpy as np
import pandas as pd
import random

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("/home/rafael/git/projeto_bom_pagador/dataset/train.csv", index_col='ID')

In [6]:
df[df['EDUCATION']<4]

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20996,50000,1,2,1,49,1,2,2,0,0,...,50046,19858,19278,2400,0,2300,1000,1000,1000,1
20997,230000,1,2,2,38,2,2,2,2,2,...,187053,176805,180826,8000,8000,6500,0,7000,6500,0
20998,80000,1,2,1,38,0,0,0,0,0,...,7467,6727,994,1631,1432,1000,520,1097,2236,0
20999,200000,1,2,1,32,-1,-1,0,0,-1,...,72739,389,389,90001,3935,3759,390,390,390,0
21000,50000,1,3,1,40,-1,-1,-1,-1,-1,...,1261,390,390,2522,170,1261,390,390,390,0

In [3]:
df.rename(columns={'LIMIT_BAL': 'Renda Anual', 'SEX':'Sexo','EDUCATION':'Educacao','MARRIAGE':'Estado Civil', 'AGE':'Idade','PAY_0': 'Tempo Emp.',"default payment next month":"Situacao"}, inplace=True)

In [4]:
df = df[['Renda Anual', 'Sexo', 'Educacao', 'Estado Civil', 'Idade','Tempo Emp.', 'Situacao']]

In [6]:
df

       Renda Anual  Sexo  Educacao  Estado Civil  Idade  Tempo Emp.  Situacao
ID
1            20000     2         2             1     24           2         1
2           120000     2         2             2     26          -1         1
3            90000     2         2             2     34           0         0
4            50000     2         2             1     37           0         0
5            50000     1         2             1     57          -1         0
...            ...   ...       ...           ...    ...         ...       ...
20996        50000     1         2             1     49           1         1
20997       230000     1         2             2     38           2         0
20998        80000     1         2             1     38           0         0
20999       200000     1         2             1     32          -1         0
21000        50000     1         3             1     40          -1         0

[21000 rows x 7 columns]

In [8]:
for x in df.index:
    df['Tempo Emp.'].iloc[x-1] = random.randrange(1,20)

In [9]:
df

       Renda Anual  Sexo  Educacao  Estado Civil  Idade  Tempo Emp.  Situacao
ID
1            20000     2         2             1     24           2         1
2           120000     2         2             2     26          13         1
3            90000     2         2             2     34          11         0
4            50000     2         2             1     37          16         0
5            50000     1         2             1     57           9         0
...            ...   ...       ...           ...    ...         ...       ...
20996        50000     1         2             1     49          12         1
20997       230000     1         2             2     38          10         0
20998        80000     1         2             1     38           9         0
20999       200000     1         2             1     32           1         0
21000        50000     1         3             1     40          12         0

[21000 rows x 7 columns]

Criando datasets para consultas internas e externas.

In [10]:
df.to_csv("/home/rafael/git/projeto_bom_pagador/dataset/banco_original.csv")

In [11]:
consul_int, consul_ext = train_test_split(df, test_size=0.5)

consul_int.to_csv("/home/rafael/git/projeto_bom_pagador/dataset/banco_interno.csv")
consul_ext.to_csv("/home/rafael/git/projeto_bom_pagador/dataset/banco_externo.csv")

In [ ]:
df.Renda

Trabalhando com o modelo de classificação

In [25]:
x = df.drop('default', axis=1)
y = df['default']

In [36]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [97]:
clf = RandomForestClassifier(max_depth=15, random_state=0)
clf.fit(x_train, y_train)
resul = clf.predict(x_test)
accuracy_score(y_test, resul)*100

81.9047619047619