# Validação dos Campos:

In [1]:
import pandas as pd
import numpy as np

In [3]:
base = pd.read_csv("/home/rafael/git/projeto_bom_pagador/dataset/train.csv", index_col='ID')
'''
base.columns = ['id','credito','genero','educacao','estado_civil','idade',
             'hist_mes1','hist_mes2','hist_mes3','hist_mes4','hist_mes5','hist_mes6',
             'declaracao_conta_1','declaracao_conta_2','declaracao_conta_3','declaracao_conta_4','declaracao_conta_5',
             'declaracao_conta_6','pg_anterior_1','pg_anterior_2','pg_anterior_3','pg_anterior_4','pg_anterior_5',
             'pg_anterior_6','classificador']
'''
base.head(3)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0

In [4]:
'''
# X1: Quanto foi dado de crédito em dólar (individual e família) (montante de crédito concedido)
## Campo sem divergência
### No código utilizado o campo esta sendo tratado como renda, entretanto, a descrição do dataset informa que o 
    campo corresponde ao valor do crédito concedido
'''
print(base['LIMIT_BAL'].isnull().sum())
print(base['LIMIT_BAL'].min())
print(len(base['LIMIT_BAL'].loc[(base['LIMIT_BAL']==0)]))

0
10000
0

In [5]:
'''
# X2: Gênero -> 1 = Masculino, 2 = Feminino
## Campo sem divergência
'''

len(base.loc[(base['SEX']<1)|(base['SEX']>2)])

0

In [6]:
'''
# X3: Educação -> 1 = Pós-Graduação, 2 = Universidade, 3 = Ensino Médio, 4 = Outros
## Dataset apresenta dados divergentes da descrição
'''

len(base.loc[(base['EDUCATION']<1)|(base['EDUCATION']>4)])

207

In [7]:
'''
# X4: Estado Civil -> 1 = Casado, 2 = Solteiro, 3 = Outros
## Dataset apresenta dados divergentes da descrição
'''

len(base.loc[(base['MARRIAGE']<1)|(base['MARRIAGE']>3)])

35

In [8]:
'''
# X5: Idade
## Campo sem divergência
'''

print(base['AGE'].isnull().sum())
print(base['AGE'].min())
print(base['AGE'].max())

0
21
79

In [9]:
'''
# X6 - X11: Histórico de Pagamentos -> X6 = Setembro à X11 = Abril
  Códigos: 
  -1: Pagou devidamente; 
  1: Pagou com atraso de um mês; 
  2: Pagou com atraso de dois meses;
  3: Pagou com atraso de três meses;
## Campo com  divergência
'''
lista_historico=['PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6']

for i in lista_historico:
    print(i + ":" + str(len(base.loc[(base[i]<-1)])))

PAY_0:1700
PAY_2:2470
PAY_3:2685
PAY_4:2866
PAY_5:2992
PAY_6:3244

In [10]:
'''
# X12 - X17: Quantia de declaração de conta -> X12 = Setembro à X17 = Abril
## Não entendi muito este campo, mas ao que parece, se trata do valor da fatura, log, não poderia haver valores negativos
## Campo com  divergência
'''

lista_historico=['BILL_AMT1','BILL_AMT2','BILL_AMT3','BILL_AMT4','BILL_AMT5','BILL_AMT6']

for i in lista_historico:
    print(i + ": " + str(len(base.loc[(base[i]<-1)])))
    print(i + "nulo: " + str(base[i].isnull().sum()))
    print(i + "mínimo: " + str(base[i].min()))

BILL_AMT1: 384
BILL_AMT1nulo: 0
BILL_AMT1mínimo: -165580
BILL_AMT2: 441
BILL_AMT2nulo: 0
BILL_AMT2mínimo: -33350
BILL_AMT3: 433
BILL_AMT3nulo: 0
BILL_AMT3mínimo: -157264
BILL_AMT4: 437
BILL_AMT4nulo: 0
BILL_AMT4mínimo: -170000
BILL_AMT5: 433
BILL_AMT5nulo: 0
BILL_AMT5mínimo: -37594
BILL_AMT6: 459
BILL_AMT6nulo: 0
BILL_AMT6mínimo: -339603

In [11]:
'''
# X18 -> X23: Montante do pagamento anterior -> X18 = Setembro à X23 = Abril (PAYAMT...)
# Campo sem divergência
'''

lista_historico=['PAY_AMT1','PAY_AMT2','PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6']

for i in lista_historico:
    print(i + ": " + str(len(base.loc[(base[i]<-1)])))
    print(i + "nulo: " + str(base[i].isnull().sum()))
    print(i + "mínimo: " + str(base[i].min()))

PAY_AMT1: 0
PAY_AMT1nulo: 0
PAY_AMT1mínimo: 0
PAY_AMT2: 0
PAY_AMT2nulo: 0
PAY_AMT2mínimo: 0
PAY_AMT3: 0
PAY_AMT3nulo: 0
PAY_AMT3mínimo: 0
PAY_AMT4: 0
PAY_AMT4nulo: 0
PAY_AMT4mínimo: 0
PAY_AMT5: 0
PAY_AMT5nulo: 0
PAY_AMT5mínimo: 0
PAY_AMT6: 0
PAY_AMT6nulo: 0
PAY_AMT6mínimo: 0

In [12]:
'''
# X24: Se a pessoa pagou, variável de interesse -> 1 = Sim, 2 = Não
## Campo apresenta codificação diferente do proposto para classificador
'''

len(base.loc[(base['default payment next month']<1)|(base['default payment next month']>2)])

teste= set(base['default payment next month'])
teste

{0, 1}

# Observação do Código:

In [13]:
'''
Não identifiquei o Escalonamento das variáveis (colocar os valores na mesma escala) o que se mostra 
necessários para algoritimos que utilizam a distância euclidiana
é necessário realizar este processo para normalizar os valores, com isto,impedindo que uma variável 
seja considerada mais importante do que outra (ex: Renda e Idade).
No caso de algoritimos que não utilizam a distância euclidiana, este processo permitirá a execução 
mais rápida do algoritimo.
'''
# Padronização
from sklearn.preprocessing import StandardScaler
escalonamento = StandardScaler()
previsores = escalonamento.fit_transform(previsores)
previsores

NameError: name 'previsores' is not defined