In [26]:
import numpy as np
import pandas as pd
import random

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [93]:
df = pd.read_csv("/home/rafael/git/projeto_bom_pagador/dataset/train.csv", index_col='ID')

In [94]:
df.rename(columns={'LIMIT_BAL': 'Renda Atual', 'SEX':'Sexo','EDUCATION':'Educacao','MARRIAGE':'Estado Civil', 'AGE':'Idade','PAY_0': 'Tempo de Empresa',"default payment next month":"Situacao"}, inplace=True)

In [95]:
df = df[['Renda Anual', 'Sexo', 'Educacao', 'Estado Civil', 'Idade','Tempo de Empresa', 'Situacao']]

In [96]:
df

,Renda Atual,Sexo,Educacao,Estado Civil,Idade,Tempo de Empresa,Situacao
ID,,,,,,,
1,20000,2,2,1,24,2,1
2,120000,2,2,2,26,-1,1
3,90000,2,2,2,34,0,0
4,50000,2,2,1,37,0,0
5,50000,1,2,1,57,-1,0
...,...,...,...,...,...,...,...
20996,50000,1,2,1,49,1,1
20997,230000,1,2,2,38,2,0
20998,80000,1,2,1,38,0,0
20999,200000,1,2,1,32,-1,0
21000,50000,1,3,1,40,-1,0

In [97]:
for x in df.index:
    df['Tempo de Empresa'].iloc[x-1] = random.randrange(1,20)

In [98]:
df

,Renda Atual,Sexo,Educacao,Estado Civil,Idade,Tempo de Empresa,Situacao
ID,,,,,,,
1,20000,2,2,1,24,6,1
2,120000,2,2,2,26,5,1
3,90000,2,2,2,34,5,0
4,50000,2,2,1,37,1,0
5,50000,1,2,1,57,15,0
...,...,...,...,...,...,...,...
20996,50000,1,2,1,49,15,1
20997,230000,1,2,2,38,11,0
20998,80000,1,2,1,38,10,0
20999,200000,1,2,1,32,17,0
21000,50000,1,3,1,40,17,0

Criando datasets para consultas internas e externas.

In [99]:
consul_int, consul_ext = train_test_split(df, test_size=0.5)

consul_int.to_csv("/home/rafael/git/projeto_bom_pagador/dataset/banco_interno.csv")
consul_ext.to_csv("/home/rafael/git/projeto_bom_pagador/dataset/banco_externo.csv")

Trabalhando com o modelo de classificação

In [25]:
x = df.drop('default', axis=1)
y = df['default']

In [36]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [97]:
clf = RandomForestClassifier(max_depth=15, random_state=0)
clf.fit(x_train, y_train)
resul = clf.predict(x_test)
accuracy_score(y_test, resul)*100

81.9047619047619